<ion-header>

  <ion-navbar color="primary">
    <ion-title>IdleLands Statistics - {{ player.nameEdit || player.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>

    <ion-col col-12 col-sm>
      <ion-card *ngIf="statistics.Game">
        <ion-card-header>Game</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.Game.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="statistics.Character">
        <ion-card-header>Character</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.Character.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="statistics.Maps">
        <ion-card-header>Maps</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.Maps.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-12 col-sm>
      <ion-card *ngIf="statistics.BossKills">
        <ion-card-header>Boss Kills</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.BossKills.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="statistics.Combat">
        <ion-card-header>Combat</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.Combat.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="statistics.Regions">
        <ion-card-header>Regions</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics.Regions.children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>