<ion-header>

  <ion-navbar color="primary">
    <ion-title>IdleLands Statistics - {{ player.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm>
      <ion-card *ngIf="statistics[0] && statistics[0].children">
        <ion-card-header>{{ statistics[0].name }}</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics[0].children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-12 col-sm>
      <ion-card *ngIf="statistics[2] && statistics[2].children">
        <ion-card-header>{{ statistics[2].name }}</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics[2].children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="statistics[1] && statistics[1].children">
        <ion-card-header>{{ statistics[1].name }}</ion-card-header>
        <ion-card-content>
          <statistics-tree [treeData]="statistics[1].children" [isFirst]="true"></statistics-tree>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
