
<div class="container-fluid chat-container no-padding">

  <div class="col-md-3 chat-nav no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item"
          [hidden]="chatData[channel] && chatData[channel].hidden"
          *ngFor="let channel of channels">
        <a class="nav-link"
           (click)="changeChannel(channel)"
           (mouseenter)="isVisible['c'+channel] = true"
           (mouseleave)="isVisible['c'+channel] = false"
           [class.active]="activeChannel === channel">
           <span>{{channel}}</span>
           <span class="label label-pill label-info" *ngIf="chatData[channel] && chatData[channel].unread > 0">{{chatData[channel].unread}}</span>
           <span class="pull-md-right pointer"
                 (click)="hideChannel(channel)"
                 *ngIf="chatData[channel] && chatData[channel].canHide && isVisible['c'+channel]">
             <i fa [icon]="'close'"></i>
           </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-6 chat-io no-padding">

    <div class="chat-output">
      <chatoutput [messages]="activeChannelMessages"></chatoutput>
    </div>

    <div class="chat-input">
      <div class="col-md-10 no-padding">
        <input type="text"
               class="form-control"
               [(ngModel)]="chatMessage"
               [disabled]="isMuted"
               placeholder="Send a message to {{activeChannel}}..."
               (keyup.enter)="sendMessage(chatMessage)"/>
      </div>
      <div class="col-md-2 no-padding">
        <button class="btn btn-primary"
                [class.disabled]="isMuted"
                (click)="sendMessage(chatMessage)">Send</button>
      </div>
    </div>
  </div>

  <div class="col-md-3 chat-users no-padding">
    <div class="card card-block user-card"
         (mouseenter)="isVisible['u'+user.name] = user.name !== playerName"
         (mouseleave)="isVisible['u'+user.name] = false"
         *ngFor="let user of onlineUsers">
      <h6 class="card-title">
        <i fa [icon]="'star'" *ngIf="user.isMod"></i>
        <i fa [icon]="'ban'" *ngIf="user.isMuted"></i>
        <span>{{ user.name }}<span *ngIf="user.title">, the {{ user.title }}</span></span>
        <span class="pull-md-right pointer"
              *ngIf="isVisible['u'+user.name]">
          <i fa [icon]="'comments'" (click)="openPM(user.name)"></i>
          <i fa [icon]="'ban'" *ngIf="isMod" (click)="muteUser(user.name)"></i>
        </span>
      </h6>
      <p class="card-text">
        <small>Level {{ user.level }} {{ user.professionName }}</small>
      </p>
    </div>
  </div>

</div>