
<div class="container-fluid chat-container no-padding">

  <div class="col-md-3 chat-nav no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item"
          [hidden]="chatData[channel] && chatData[channel].hidden"
          *ngFor="let channel of channels">
        <a class="nav-link"
           (click)="changeChannel(channel)"
           (mouseenter)="isVisible['c'+channel] = true"
           (mouseleave)="isVisible['c'+channel] = false"
           [class.active]="activeChannel === channel">
           <span>{{channel}}</span>
           <span class="tag tag-pill tag-info" *ngIf="chatData[channel] && chatData[channel].unread > 0">{{chatData[channel].unread}}</span>
           <span class="float-xs-right pointer"
                 (click)="hideChannel(channel)"
                 *ngIf="chatData[channel] && chatData[channel].canHide && isVisible['c'+channel]">
             <i fa [icon]="'close'"></i>
           </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-6 chat-io no-padding">

    <div class="chat-output">
      <chatoutput [messages]="activeChannelMessages" [showMod]="isMod"></chatoutput>
    </div>

    <div class="chat-input">
      <div class="col-md-10 no-padding">
        <input type="text"
               class="form-control"
               autofocus
               [(ngModel)]="storage.chatMessage"
               placeholder="Send a message to {{activeChannel}}..."
               (keyup.enter)="sendMessage(storage.chatMessage)"/>
      </div>
      <div class="col-md-2 no-padding">
        <button class="btn btn-primary"
                [disabled]="onlineStatus !== 'online'"
                (click)="sendMessage(storage.chatMessage)">Send</button>
      </div>
    </div>
  </div>

  <div class="col-md-3 chat-users no-padding">
    <div class="card card-block user-card text-sm-center">
      {{ onlineUsers.length }} players online
    </div>
    <div class="chat-users-inner">
      <div class="card card-block user-card"
           (mouseenter)="isVisible['u'+user.name] = true"
           (mouseleave)="isVisible['u'+user.name] = false"
           *ngFor="let user of onlineUsers">
        <h6 class="card-title">
          <i fa [icon]="'star'" *ngIf="user.isMod"></i>
          <i fa [icon]="'ban'" *ngIf="user.isMuted && user.name !== playerName"></i>
          <span>{{ user.nameEdit ? user.nameEdit : user.name }}<span *ngIf="user.title">, the {{ user.title }}</span></span>
          <small *ngIf="isMod">({{ user.$currentIp }})</small>

          <span class="float-xs-right pointer" dropdown *ngIf="isMod && isVisible['u'+user.name]">
            <i fa [fw]="true" [icon]="'ellipsis-v'" dropdownToggle></i>
            <ul class="dropdown-menu dropdown-menu-right" dropdownMenu>
              <li>
                <a class="dropdown-item" (click)="muteUser(user.name)" *ngIf="user.isMuted">Unmute user</a>
                <a class="dropdown-item" (click)="muteUser(user.name)" *ngIf="!user.isMuted">Mute user</a>
                <a class="dropdown-item" (click)="pardonUser(user.name)" *ngIf="user.isPardoned">Unpardon user</a>
                <a class="dropdown-item" (click)="pardonUser(user.name)" *ngIf="!user.isPardoned">Pardon user</a>
                <a class="dropdown-item" (click)="gmBan(user.name)" *ngIf="user.name !== playerName">Ban user</a>
                <a class="dropdown-item" (click)="gmToggleMod(user.name)" *ngIf="user.isMod">Remove Moderator</a>
                <a class="dropdown-item" (click)="gmToggleMod(user.name)" *ngIf="!user.isMod">Make Moderator</a>
                <a class="dropdown-item" (click)="gmTeleport(user.name)">Teleport to Location</a>
                <a class="dropdown-item" (click)="gmToggleAchievement(user.name)">Toggle Permanent Achievement</a>
                <a class="dropdown-item" (click)="gmNameChange(user.name)">Change Name</a>
                <a class="dropdown-item" (click)="gmLevelChange(user.name, user.level)">Change Level</a>
                <a class="dropdown-item" (click)="gmGrantEvent(user.name)">Grant Event</a>
                <a class="dropdown-item" (click)="gmGiveItem(user.name)">Grant Item</a>
                <!-- <a class="dropdown-item" href>Teleport to...</a> -->
              </li>
            </ul>
          </span>

          <span class="float-xs-right pointer"
                *ngIf="isVisible['u'+user.name] && user.name !== playerName">
            <i fa [fw]="true" [icon]="'comments'" (click)="openPM(user.name)"></i>
          </span>
        </h6>
        <p class="card-text">
          <small>Level {{ user.level }} {{ user.professionName }}</small>
        </p>
      </div>
    </div>
  </div>

</div>