<div class="card player-card">
  <h4 class="card-header no-margin-bottom">{{player.nameEdit || player.name}}</h4>

  <div class="player-card-inner">
    <progress class="progress progress-success" value="{{player._xp?.__current}}" max="{{player._xp?.maximum}}"></progress>
    <span class="progress-label">
      {{player._xp?.__current | number}}/{{player._xp?.maximum | number}}
    </span>
    <div class="card-block" *ngIf="player._level?.__current === player._level?.maximum" [class.hidden]="!player._level">
      <button class="btn btn-primary btn-block" (click)="ascend()">
        <stat [size]="100" [name]="'Special'"></stat> Ascend
      </button>
    </div>
    <div class="card-block">
      <h6 class="card-title text-muted">Level {{player._level?.__current}}/{{player._level?.maximum}} {{player.professionName}} ({{player.gender}})</h6>
      <h6 class="card-subtitle">Joined {{ player.joinDate | date }}</h6>
    </div>
    <div class="card-block no-padding-bottom">
      <div class="card-text">
        {{ player.map }} | {{ player.mapRegion }}
      </div>
    </div>
    <div class="card-block no-padding-bottom">
      <div class="card-text">
        <stat [size]="200" [name]="'Item'"></stat> Max Item Score: {{ player.statCache?.itemFindRange | number }}
      </div>
    </div>
    <div class="card-block no-padding-bottom">
      <div class="card-text">
        <stat [size]="200" [name]="'gold'"></stat> {{ player.gold | number }}
      </div>
    </div>
    <div class="card-block no-padding-bottom">
      <div class="card-text">
        <table class="table stat-table">
          <tr>
            <td class="no-padding"><stat [size]="'200'" [name]="'hp'"></stat></td>
            <td class="text-md-right">{{ player._hp?.maximum | number }}</td>

            <td class="no-padding"><stat [size]="'200'" [name]="'mp'"></stat></td>
            <td class="text-md-right">{{ player._mp?.maximum | number }}</td>
          </tr>

          <tr>
            <td class="no-padding"><stat [size]="'200'" [name]="'str'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.str | number }}</td>

            <td class="no-padding"><stat [size]="'200'" [name]="'con'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.con | number }}</td>
          </tr>

          <tr>
            <td class="no-padding"><stat [size]="'200'" [name]="'dex'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.dex | number }}</td>

            <td class="no-padding"><stat [size]="'200'" [name]="'agi'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.agi | number }}</td>
          </tr>

          <tr>
            <td class="no-padding"><stat [size]="'200'" [name]="'int'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.int | number }}</td>

            <td class="no-padding"><stat [size]="'200'" [name]="'luk'"></stat></td>
            <td class="text-md-right">{{ player.statCache?.luk | number }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card-block" *ngIf="pet && pet.$scale">
      <div><strong>{{pet.name}}</strong> ({{pet.$petId}})</div>
      <div><strong>Pet Gold: </strong> {{pet.gold.__current | number}}/{{pet.gold.maximum | number}}</div>
      <div><strong>Pet Items: </strong> {{pet.inventory.length}}/{{ pet.$scale.inventory[pet.scaleLevel.inventory] }}</div>
    </div>

    <div class="card-block" *ngIf="party.name && !party.isBattleParty">
      <strong>Party: {{ party.name }}</strong>
      <ul>
        <li *ngFor="let player of party.players">
          {{ player.name }} ({{player.level}} {{player.profession}})
        </li>
      </ul>
    </div>
  </div>

</div>