
.player-card {

  .card-block {
    padding-top: 0;
  }

  .progress-label {
    position: relative;
    top: -2em;
    display: block;
    text-align: center;
    line-height: 16px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .stat-table {
    margin-bottom: 0;

    tr {
      td:first-child {
        padding-left: 0;
      }
      td:last-child {
        padding-right: 0;
      }
    }
  }
}