<div class="container-fluid equipment-container">
  <div class="row m-b-2 equipment-item" *ngFor="let slot of equipmentKeys">
    <div class="col-md-2 left-side">
      <div class="text-md-center class-{{player.equipment[slot].itemClass}}">
        {{ slot }}
      </div>
    </div>
    <div class="col-md-10 right-side">
      <div class="item-header">
        <strong class="item-name">
          <span *ngIf="player.equipment[slot].enchantLevel > 0">+{{ player.equipment[slot].enchantLevel }}</span>
          <span>{{ player.equipment[slot].name }}</span>
        </strong>
        <small class="item-timestamp text-muted">Found {{ player.equipment[slot].foundAt | date:'medium' }}; Score Rating: {{ scoreRating(player.equipment[slot]) }}%</small>
      </div>
      <div class="item-stats">
        <div class="no-padding col-md-2"
             *ngFor="let stat of stats"
             [class.negative-stat]="player.equipment[slot][stat] < 0"
             [class.positive-stat]="player.equipment[slot][stat] > 0">
          <stat [size]="'150'" [name]="stat"></stat> {{ player.equipment[slot][stat] }}
        </div>
      </div>
      <div class="item-extra-stats">
        {{ extraItemStats(player.equipment[slot]) }}
      </div>
    </div>
  </div>
</div>