.achievement-container {
  overflow-y: scroll;
  height: calc(~"100vh - 51px");

  .empty-text {
    margin-top: 25%;
  }

  .achievement-card {
    min-height: 250px;

    .card-title {
      min-height: 60px;
    }

    .card-text {
      min-height: 70px;
    }
  }
}