.achievement-container {
  .empty-text {
    margin-top: 50%;
  }

  .achievement-card {
    min-height: 250px;

    .card-title {
      min-height: 60px;
    }

    .card-text {
      min-height: 70px;
    }
  }
}