
<div class="output-window" #outputWindow>
  <ion-list no-margin *ngIf="!isCompressedChat">
    <ion-item class="chat-message-container" text-wrap *ngFor="let message of chatLog | currentChannel:channel.route">
      <h2>
        <ascension-level [level]="message.ascensionLevel"></ascension-level>
        <ion-icon *ngIf="message.isMod" name="star"></ion-icon>
        <span *ngIf="message.guildTag">[{{ message.guildTag }}]</span>
        <span>{{ message.playerName }}</span><span *ngIf="message.title">, the {{ message.title }}</span>
        <small>{{ message.timestamp | amTimeAgo }}</small>
        <small *ngIf="player.isMod">({{ message.shard }}~{{ message.ip }})</small>
      </h2>
      <p class="chat-message" [innerHTML]="message.text | linkify"></p>
    </ion-item>
  </ion-list>

  <ion-list no-margin *ngIf="isCompressedChat">
    <ion-item class="chat-message-container compressed" text-wrap *ngFor="let message of chatLog | currentChannel:channel.route">
      <p class="chat-message">
        <small margin-right>{{ message.timestamp | date:'medium' }}</small>
        <small *ngIf="player.isMod">({{ message.shard }}~{{ message.ip }})</small>
        <span>
          [
          <ion-icon *ngIf="message.isMod" name="star"></ion-icon>
          <ascension-level [level]="message.ascensionLevel"></ascension-level>
          <strong>
            <span *ngIf="message.guildTag">[{{ message.guildTag }}]</span>
            <span>{{ message.playerName }}</span><span *ngIf="message.title">, the {{ message.title }}</span>
          </strong>
          ]
        </span>
        <span class="chat-message" [innerHTML]="message.text | linkify"></span>
      </p>
    </ion-item>
  </ion-list>

  <button ion-button icon-left color="secondary" class="scroll-button" *ngIf="showScrollButton" (click)="scrollToBottom()">
    <ion-icon name="arrow-round-down"></ion-icon>
    Scroll to Bottom
  </button>
</div>

<div class="input-window">
  <form (ngSubmit)="sendMessage()">
    <ion-row no-padding>
      <ion-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="currentMessage"
                 type="text"
                 #typeHere
                 autofocus
                 clearInput="true"
                 [placeholder]="'Send message to ' + channelName(channel)"></ion-input>

      <button ion-button
              icon-left
              color="primary"
              big
              class="send-button"
              [disabled]="!currentMessage || !isOnline"
              (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
        Send
      </button>

      <button ion-button
              icon-only
              color="danger"
              big
              class="send-button"
              *ngIf="canClose(channel)"
              (click)="doChannelRemove(channel)">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-row>
  </form>
</div>