page-chat {

  .chat-container {
    width: 100%;
    height: 100%;
  }

  .chat-user {
    padding-left: 0;

    .guild-tag {
      min-height: 17px;

      &.hideme {
        visibility: hidden;
      }
    }
  }

  .chat-message {
    word-break: break-word;
  }

  .virtual-list {
    height: 100%;
  }

  .reversed-split-pane {
    flex-direction: row-reverse;

    ion-menu {
      border-right: none !important;
    }
  }
}