<div class="container-fluid collectible-container">
  <div class="row">

    <div class="col-md-12 empty-text text-md-center text-muted" *ngIf="!collectibles || !collectibles.length">
      <h3>No collectibles.</h3>
    </div>

    <div class="col-md-3" *ngFor="let collectible of collectibles">
      <div class="card collectible-card">
        <div class="card-block">
          <h5 class="card-title text-md-center m-b-0 class-{{collectible.rarity}}">
            {{collectible.name}}
          </h5>
          <h6 class="text-muted">{{collectible.storyline}}</h6>
          <h6 class="text-muted">{{collectible.map}} - {{collectible.region}}</h6>
          <p class="card-text">{{collectible.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>