.collectible-container {
  overflow-y: scroll;
  height: calc(~"100vh - 51px");

  .empty-text {
    margin-top: 50%;
  }

  .collectible-card {
    min-height: 250px;

    .card-title {
      min-height: 60px;

      span {
        padding: 5px;
      }
    }

    .card-text {
      min-height: 70px;
    }
  }
}