<ion-header>
  <ion-navbar color="primary">
    <ion-title>IdleLands - Home</ion-title>

    <ion-buttons start>
      <a ion-button icon-left solid color="primary" (click)="privacy()">
        <ion-icon name="lock"></ion-icon> Privacy Policy
      </a>
      <a ion-button icon-left solid color="primary" href="http://blog.idle.land" target="_blank">
        <ion-icon name="logo-rss"></ion-icon> Blog
      </a>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-left solid color="primary" (click)="play()" *ngIf="auth.authenticated">
        <ion-icon name="game-controller-b"></ion-icon> Play
      </button>

      <button ion-button icon-left solid color="primary" (click)="login()" *ngIf="!auth.authenticated">
        <ion-icon name="log-in"></ion-icon> Login
      </button>

      <button ion-button icon-left solid color="primary" (click)="logout()" *ngIf="auth.authenticated">
        <ion-icon name="log-out"></ion-icon> Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>Welcome to IdleLands</h1>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col padding text-center>
        <h3 class="unbold">
          IdleLands is a great game about idling, finding cool loot, and laughing at the crazy things that happen.
        </h3>
        <h4 class="unbold">
          IdleLands can run with no player interaction, but there are many ways you can guide your character through the world of Idliathlia.
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md-3 col-md-6>
        <button ion-button block icon-left color="primary" (click)="login()">
          <ion-icon name="log-in"></ion-icon> Sign Up or Login
        </button>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col col-md-6 col-xs-12 offset-md-3>
        <reddit-news></reddit-news>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding>
        <ion-card>

          <ion-card-header>
            <h1>Online Multiplayer</h1>
          </ion-card-header>

          <ion-card-content>
            <p>Don't want to play alone? That's perfect! Join many other players and play IdleLands in the same world. Explore and slay monsters together!</p>
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding>
        <ion-card>

          <ion-card-header>
            <h1>Massive World</h1>
          </ion-card-header>

          <ion-card-content>
            <p>Explore a massive, hand-crafted and lore-rich world with over 300 "Collectibles" and 200 unique regions spread across more than 110 maps!</p>
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding>
        <ion-card>

          <ion-card-header>
            <h1>Global Leaderboard</h1>
          </ion-card-header>

          <ion-card-content>
            <p>Into competition? Awesome. We have a <a href="http://global.idle.land/leaderboard" target="_blank">leaderboard</a> and many other features (like game-wide <a href="http://global.idle.land/statistics" target="_blank">statistics</a>) that span the whole game. Check it out!</p>
          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding>
        <ion-card>

          <ion-card-header>
            <h1>In-Depth Help</h1>
          </ion-card-header>

          <ion-card-content>
            <p>No matter if you need help getting started, understanding some aspects of the game, or want to find information, our <a href="https://github.com/IdleLands/IdleLands/wiki" target="_blank">wiki</a> has you covered!</p>
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding>
        <ion-card>

          <ion-card-header>
            <h1>Sign Up Now</h1>
          </ion-card-header>

          <ion-card-content>
            <p>Registration is easy - just a few clicks and you're in the game. Plus, it's handled by Auth0, so you know it's secured with the latest technologies.</p>
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col col-sm-12 col-sm-6 col-md-4 padding text-center>
        <div padding>
          <button ion-button icon-left color="primary" (click)="login()">
            <ion-icon name="log-in"></ion-icon> Sign Up
          </button>

          <a ion-button clear width="150" height="50" href="https://auth0.com/?utm_source=oss&amp;utm_medium=gp&amp;utm_campaign=oss" target="_blank" alt="Single Sign On &amp; Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"></a>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
