
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>Pet Equipment (Max Item Score: {{ petactive.statCache.itemFindRange | number }})</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item text-wrap *ngFor="let item of petEquipment">
                <item [item]="item" [buttons]="equippedItemButtons"></item>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="petactive.inventory">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-row no-padding>
              <ion-col no-padding class="vertical-center">
                <span>Pet Inventory ({{ petactive.inventory.length }}/{{ petactive.$scale.inventory[petactive.scaleLevel.inventory] }})</span>
              </ion-col>

              <ion-col no-padding text-right>
                <button no-margin
                        ion-button
                        small
                        color="primary"
                        (click)="salvageAll()"
                        *ngIf="petactive.$scale.salvage[petactive.scaleLevel.salvage] > 0">Salvage All</button>

                <button no-margin
                        ion-button
                        small
                        color="primary"
                        (click)="sellAll()"
                        [disabled]="petactive.inventory.length === 0">Sell All</button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngIf="petactive.inventory.length === 0">
                Your pet has no items :(
              </ion-item>
              <ion-item text-wrap *ngFor="let item of petactive.inventory">
                <item [item]="item" [buttons]="inventoryButtons"></item>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="hidden">
    <ion-label>Other Pet</ion-label>
    <ion-select #pets (ionChange)="_chooseOtherPet($event)">
      <ion-option *ngFor="let pet of boughtPets" [value]="pet.name">{{ pet.petName }} ({{ pet.name }})</ion-option>
    </ion-select>
  </ion-item>
</ion-content>