
<ion-content padding>
  <div *ngIf="!hasPet" class="max-space">
    <div class="true-center max-space background-text">
      <p>You have no active pet.</p>
    </div>
  </div>


  <ion-grid *ngIf="hasPet">
    <ion-row wrap>
      <ion-col col-12 col-md>
        <ion-card>
          <ion-card-header>Vitals</ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col class="size-150">
                <stat stat="hp" [value]="petactive._hp.__current"></stat>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="size-150">
                <stat stat="mp" [value]="petactive._mp.__current"></stat>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="size-150">
                <game-icon icon="stat-xp"></game-icon> {{ petactive._xp.__current | number }}/{{ petactive._xp.maximum | number }} XP
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-md>
        <ion-card>
          <ion-card-header>Attributes</ion-card-header>
          <ion-card-content>
            <ion-row wrap>
              <ion-col col-6 *ngFor="let stat of stats" class="size-150">
                <stat [stat]="stat" [value]="petactive.statCache[stat]" [showColor]="true"></stat>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="hasPet">
      <ion-col col-12 col-md>
        <ion-item>
          <ion-label stacked>Descriptor</ion-label>
          <ion-select [(ngModel)]="petactive.attr" [selectOptions]="{ cssClass: theme.currentTheme }" (ionChange)="changeAttr($event)">
            <ion-option value="">None</ion-option>
            <ion-option *ngFor="let attr of petAttrs">{{ attr }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-md>
        <ion-item>
          <ion-label stacked>Class</ion-label>
          <ion-select [(ngModel)]="petactive.professionName" [selectOptions]="{ cssClass: theme.currentTheme }" (ionChange)="changeClass($event)">
            <ion-option *ngFor="let class of petClasses">{{ class }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-md class="true-center">
        <button ion-button color="primary" [disabled]="petactive.gold.__current === 0" (click)="takeGold()">Take Gold</button>
        <button ion-button color="primary"
                *ngIf="petactive.$scale"
                [disabled]="petactive._level.__current === petactive._level.maximum
                         || player._level.__current < petactive._level.__current
                         || petactive.$scale.xpPerGold[petactive.scaleLevel.xpPerGold] === 0" (click)="feedGold()">Feed Gold</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="hasPet">
      <ion-col col-12 col-md *ngIf="petactive.$scale.salvage[petactive.scaleLevel.salvage] > 0">
        <ion-item>
          <ion-label stacked>Auto-salvage Instead of Sell</ion-label>
          <ion-checkbox [checked]="petactive.smart.salvage" (ionChange)="toggleSmart('salvage')"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col col-12 col-md>
        <ion-item>
          <ion-label stacked>Auto-sell<span *ngIf="petactive.$scale.salvage[petactive.scaleLevel.salvage] > 0">/salvage</span> Worst Items</ion-label>
          <ion-checkbox [checked]="petactive.smart.sell" (ionChange)="toggleSmart('sell')"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col col-12 col-md>
        <ion-item>
          <ion-label stacked>Auto-equip Best Items</ion-label>
          <ion-checkbox [checked]="petactive.smart.equip" (ionChange)="toggleSmart('equip')"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row wrap *ngIf="hasPet && petactive.scaleLevel && petactive.$scale && petactive.$scaleCost">
      <ion-col *ngFor="let upgrade of upgrades" class="upgrade-card" col-12 col-md-4>
        <ion-card>
          <ion-card-header>{{ upgrade.name }}</ion-card-header>
          <ion-card-content text-center>
            <div>
              Level {{ petactive.scaleLevel[upgrade.stat]+1 }}/{{ petactive.$scale[upgrade.stat].length }}
            </div>
            <div>
              {{ upgrade.info(petactive.$scale[upgrade.stat][petactive.scaleLevel[upgrade.stat]]) }}
            </div>

            <ion-row *ngIf="petactive.scaleLevel[upgrade.stat]+1 !== petactive.$scale[upgrade.stat].length">
              <ion-col text-center>
                <button ion-button clear color="primary" (click)="upgradeAttr(upgrade.stat)">
                  Buy for {{ petactive.$scaleCost[upgrade.stat][petactive.scaleLevel[upgrade.stat]+1].toLocaleString() }} gold
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
