page-pets-overview {
  .pet-card {
    ion-card-content {
      min-height: 80px;
    }
  }

  .upgrade-card {
    ion-card-content {
      min-height: 110px;
    }
  }
}

page-pets-overview, page-pets-items {
  & > ion-content > .scroll-content {
    margin-top: 56px;
  }
}

.pet-title {
  padding: 10px;
}