
$base-orange: #ffa726;
$new-primary: darken($base-orange, 10%);
$new-light: map-get($colors, light);

.theme-orangina {

  &.modal {
    .scroll-content {
      background-color: #fff;
    }
  }

  .spinner-md-secondary.spinner-crescent circle {
    stroke: $new-light !important;
  }

  .xp-circle {
    circle {
      stroke: $new-light !important;
    }

    path {
      stroke: $new-primary !important;
    }
  }

  ion-card-header {
    background-color: $new-primary !important;
    color: $new-light;
  }

  a {
    color: $new-primary;
  }



  .item-md-extradata {
    p {
      color: $new-light;
    }

    background: $new-primary !important;
  }

  .item-md-playercard {
    background-color: $new-primary;
  }

  .item-md-petcard {
    background-color: $new-primary;
  }

  .button-clear-md, .alert-button {
    color: $new-primary !important;
  }

  .button-outline-md {
    border-color: $new-primary;
    color: $new-primary;
  }

  .toolbar-background-md {
    background: $new-primary !important;
  }

  .bar-button-solid-md-primary, .item-md-primary, .button-md-primary, .badge-md {
    background-color: lighten($new-primary, 10%) !important;
  }

  .checkbox-md .checkbox-checked {
    border-color: $new-primary;
    background-color: $new-primary;
  }

  .alert-wrapper {

    .alert-head {
      background-color: $new-primary !important;
      color: $new-light;
    }

    [aria-checked=true] {

      .alert-radio-icon {
        border-color: $new-primary;
      }

      .alert-radio-label {
        color: $new-primary;
      }

      .alert-radio-inner {
        background-color: $new-primary;
      }
    }
  }

  .tabbar {
    background: $new-primary !important;

    .tab-button {

      color: $new-light;

      &[aria-selected=true] {
        color: lighten($new-light, 10%);

        .tab-button-icon {
          color: $new-light;
        }
      }
    }
  }

  .chat-message-container:nth-child(2n) {
    background-color: $new-primary;
    color: $new-light;

    .chat-message {
      color: $new-light;

      a {
        color: $new-light !important;
      }
    }

    .item-inner {
      border-bottom: 0;
    }
  }

  .item-md-darkstripe {
    background-color: $new-primary;
    color: $new-light;
  }

  .highlighted-text {
    background-color: $base-orange;
    color: $new-light;
  }

  .reversed-split-pane ion-menu {
    border-left: 1px solid $base-orange;
  }
}