
$new-primary: map-get($colors, dark);
$new-light: map-get($colors, light);
$gray: #373a3c;
$gray-fg: #ccc;

.theme-dark {

  .xp-circle {
    circle {
      stroke: $new-light !important;
    }

    path {
      stroke: $new-primary !important;
    }
  }

  ion-content {
    color: $gray-fg;
    background-color: $gray;
  }

  a {
    color: $gray-fg;
  }

  .item-md {
    color: $gray-fg;
    background-color: $gray;
  }

  .card-md {
    background: $gray;

    h1, h2, h3, h4, h5, h6, p, .card-header-md {
      color: $gray-fg;
    }
  }

  .item-md-playercard {
    background-color: $new-primary;
  }

  .item-md-petcard {
    background-color: $new-primary;
  }

  .button-clear-md {
    color: $gray-fg;

    &:hover:not(.disable-hover) {
      color: $gray-fg;
    }
  }

  .button-outline-md {
    border-color: $new-light;
    color: $new-light;
  }

  .toolbar-background-md {
    background: $new-primary !important;
  }

  .item-md-extradata {
    background: $new-primary !important;
  }

  .bar-button-solid-md-primary, .button-md-primary, .badge-md {
    background-color: lighten($new-primary, 10%) !important;
  }

  .checkbox-md .checkbox-checked {
    border-color: $new-primary;
    background-color: $new-primary;
  }

  .tabbar {
    background: $new-primary !important;

    .tab-button {

      color: $new-light;

      &[aria-selected=true] {
        color: lighten($new-light, 10%);

        .tab-button-icon {
          color: $new-light;
        }
      }
    }
  }

  .popover-content {
    background-color: $gray !important;
  }

  .alert-wrapper {
    background-color: $gray !important;
    color: $gray-fg;

    .button-inner {

      color: $gray-fg;

      .alert-radio-icon {
        color: $gray-fg;
        border-color: $gray-fg;
      }

      .alert-radio-label {
        color: $gray-fg;
      }
    }

    [aria-checked=true] {
      .alert-radio-inner {
        background-color: $new-light;
      }
    }
  }

  .background-icon {
    color: darken($gray, 50%) !important;
  }
}