
.theme-default {

  .xp-circle {
    circle {
      stroke: darken(map-get($colors, playercard), 10%) !important;
    }

    path {
      stroke: darken(map-get($colors, playercard), 30%) !important;
    }
  }
}