
.adventure-log {
  min-height: calc(~"100vh - 100px");
  height: calc(~"100vh - 100px");
  max-height: calc(~"100vh - 100px");

  .card-block {
    overflow-y: scroll;
    height: calc(~"100vh - 100px - 51px");

    .adventure-log-message {
      padding-left: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .adventure-log-message:nth-child(2n) {
      background-color: #eee;
    }
  }
}