<div [class]="'theme-' + theme">
  <ion-split-panel>

    <ion-menu [content]="content" [class.hidden]="!showSideMenu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item color="playercard">
            <player-card></player-card>
          </ion-item>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [color]="activePage === p.title ? 'extradata' : ''">
            <ion-row no-padding>
              <ion-col width-10 no-padding>
                <ion-icon [name]="p.icon"></ion-icon>
              </ion-col>
              <ion-col no-padding>
                <div>{{ p.title }}</div>
                <div *ngIf="activePageData && activePage === p.title" [innerHtml]="activePageData"></div>
              </ion-col>
            </ion-row>
          </button>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

  </ion-split-panel>
</div>
