<div class="container">
  <div class="jumbotron">
    <h1>Welcome to IdleLands</h1>

    <p>
      IdleLands is a great game about idling, finding cool loot, and laughing at the crazy things that can happen.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card no-border">
        <h4 class="card-title">
          Sign Up Now
        </h4>
        <div class="card-text">
          <p>Registration is easy - just a few clicks and you're in the game!</p>
          <p>
            <button class="btn btn-secondary" (click)="auth.login('showSignup')">Sign Up</button>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card no-border">
        <h4 class="card-title">
          Online Multiplayer
        </h4>
        <div class="card-text">
          <p>Don't want to play alone? That's perfect! Join many other players and play IdleLands in the same world. Explore and slay monsters together!</p>
        </div>
      </div>
    </div>
  </div>

</div>