<div class="container">
  <div class="jumbotron">
    <h1>Welcome to IdleLands</h1>

    <p>
      IdleLands is a great game about idling, finding cool loot, and laughing at the crazy things that can happen.
    </p>

    <p>
      Please be advised that there may be some questionable content within. Content is moderated (within reason) but everyone is different so some things that may not amuse you are hilarious to others.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card no-border">
        <h4 class="card-title">
          Sign Up Now
        </h4>
        <div class="card-text">
          <p>Registration is easy - just a few clicks and you're in the game! Plus, it's secured by Auth0!</p>
          <p>
            <button class="btn btn-primary" (click)="auth.login('showSignup')">Sign Up</button>
            <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card no-border">
        <h4 class="card-title">
          Online Multiplayer
        </h4>
        <div class="card-text">
          <p>Don't want to play alone? That's perfect! Join many other players and play IdleLands in the same world. Explore and slay monsters together!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card no-border">
        <h4 class="card-title">
          Massive World
        </h4>
        <div class="card-text">
          <p>Explore a massive, handcrafted and lore-rich world with over 150 "collectibles" and 100 unique regions spread across over 50 maps!</p>
        </div>
      </div>
    </div>
  </div>

</div>