<div class="card choice-log">
  <h4 class="card-header no-margin-bottom">Choice Log</h4>
  <div class="card-block no-padding">
    <div class="card-text no-choice-text text-md-center text-muted" *ngIf="!player.choices?.length">
      <h3>No choices available.</h3>
    </div>
    <div class="card-text choice-message" *ngFor="let choice of player.choices">
      <div class="choice">{{ choice.message }}</div>

      <button class="btn btn-secondary choice-button"
              (click)="makeChoice(choice.id, option)"
              *ngFor="let option of choice.choices">{{ option }}</button>

      <button class="btn btn-info choice-button"
              (click)="showMoreInfo(choice)"
              *ngIf="choice.event === 'FindItem' || choice.event === 'Merchant'">More Info</button>
    </div>
  </div>
</div>