<div class="container-fluid">

  <div class="col-md-3">
    <div class="card">
      <h4 class="card-header no-margin-bottom">Adventurer</h4>
      <div class="card-block">

        <select class="form-control m-b-1" (change)="changeGender($event)">
          <option
            [value]="gender"
            [selected]="_playerData.gender === gender"
            *ngFor="let gender of validGenders">
            {{ gender }}
          </option>
        </select>

        <select class="form-control m-b-1" (change)="changeTitle($event)">
          <option value="">No title</option>
          <option
            [value]="title"
            [selected]="_playerData.title === title"
            *ngFor="let title of validTitles">
            {{ title }}
          </option>
        </select>

      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="personalities.length > 0">
    <div class="card personality-card">
      <h4 class="card-header no-margin-bottom">Personalities</h4>
      <div class="card-block">
        <ul class="link-list">
          <li *ngFor="let personality of personalities">
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="activePersonalities[personality.name]" (change)="togglePersonality(personality.name)">
                <span [tooltip]="personality.description" tooltipPlacement="right">{{ personality.name }}</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <h4 class="card-header no-margin-bottom">Helpful Links</h4>
      <div class="card-block">
        <ul class="link-list">
          <li>
            <i fa [icon]="'rss'" [fw]="true"></i> <a class="pointer" target="_blank" href="http://blog.idle.land">IdleLands Blog</a>
          </li>
          <li>
            <i fa [icon]="'facebook'" [fw]="true"></i> <a class="pointer" target="_blank" href="https://facebook.com/IdleLands">IdleLands @ Facebook</a>
          </li>
          <li>
            <i fa [icon]="'twitter'" [fw]="true"></i> <a class="pointer" target="_blank" href="https://twitter.com/IdleLands">IdleLands @ Twitter</a>
          </li>
          <li>
            <i fa [icon]="'reddit'" [fw]="true"></i> <a class="pointer" target="_blank" href="http://reddit.com/r/idle_lands">/r/idle_lands</a>
          </li>
          <li>
            <i fa [icon]="'github'" [fw]="true"></i> <a class="pointer" target="_blank" href="https://github.com/IdleLands/IdleLands">Report a Bug</a>
          </li>
          <li>
            <i fa [icon]="'thumbs-up'" [fw]="true"></i> <a class="pointer blue" (click)="showThanks()">Special Thanks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>