<div class="container-fluid">
  <div class="col-md-3">
    <div class="card">
      <h4 class="card-header no-margin-bottom">Helpful Links</h4>
      <div class="card-block">
        <ul class="link-list">
          <li>
            <i fa [icon]="'rss'" [fw]="true"></i> <a class="pointer" target="_blank" href="http://blog.idle.land">IdleLands Blog</a>
          </li>
          <li>
            <i fa [icon]="'reddit'" [fw]="true"></i> <a class="pointer" target="_blank" href="http://reddit.com/r/idle_lands">/r/idle_lands</a>
          </li>
          <li>
            <i fa [icon]="'github'" [fw]="true"></i> <a class="pointer" target="_blank" href="https://github.com/IdleLands/Play">Report a Bug</a>
          </li>
          <li>
            <i fa [icon]="'thumbs-up'" [fw]="true"></i> <a class="pointer" (click)="showThanks()">Special Thanks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>