<div id="map-container">
  <div id="map"></div>

  <div *ngIf="storage.showPersonalityWindow" [draggable] [x]="storage.lastWindowPos.x" [y]="storage.lastWindowPos.y" (mouseup)="updatePos($event)" class="personality-hover-container">
    <ul class="link-list">
      <li *ngFor="let personality of personalities">
        <div class="checkbox">
          <label>
            <input type="checkbox" [checked]="activePersonalities[personality.name]" (change)="togglePersonality(personality.name)">
            <span [tooltip]="personality.description" tooltipPlacement="right">{{ personality.name }}</span>
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>