<div class="col-md-2 left-side">
  <div class="text-md-center class-{{item.itemClass}}" [tooltip]="item.itemClass">
    {{ item.type }}
  </div>
  <div class="text-md-center">
    <span *ngFor="let button of buttons" class="pointer">
      <stat [name]="button.name" [size]="125" [tooltipPlacement]="'right'" [tooltip]="button.tooltip" (click)="button.callback(item)"></stat>
    </span>
  </div>
</div>
<div class="col-md-10 right-side">
  <div class="item-header">
    <strong class="item-name">
      <span *ngIf="item.enchantLevel > 0">+{{ item.enchantLevel }}</span>
      <span>{{ item.name }}</span>
    </strong>
    <small class="item-timestamp text-muted">Found {{ item.foundAt | date:'medium' }}; Score Rating: {{item._calcScore | number}} ({{ scoreRating(item) | number }}%)</small>
  </div>
  <div class="item-stats">
    <div class="no-padding col-md-2"
         *ngFor="let stat of stats"
         [class.negative-stat]="item[stat] < 0"
         [class.positive-stat]="item[stat] > 0">
      <stat [size]="'150'" [name]="stat"></stat> <span class="hidden-copy">{{stat}}</span> {{ item[stat] | number }}
    </div>
  </div>
  <div class="item-extra-stats">
    {{ extraItemStats(item) }}
  </div>
</div>
