<nav class="navbar navbar-static-top navbar-light bg-faded m-b-1">
  <div class="collapse navbar-toggleable-xs">
    <a class="navbar-brand pointer" [routerLink]="['/play']">IdleLands</a>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link">
          <i fa [fw]="true" [icon]="onlineStatus.icon" [tooltip]="onlineStatus.text" tooltipPlacement="bottom"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav" *ngIf="!hideTabs">

      <li class="nav-item" [class.active]="hasActiveRoute('overview')">
        <a class="nav-link" [routerLink]="['/play/overview']">
          Overview
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('equipment')">
        <a class="nav-link" [routerLink]="['/play/equipment']">
          Equipment
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('map')">
        <a class="nav-link" [routerLink]="['/play/map']">
          Map
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('achievements')">
        <a class="nav-link" [routerLink]="['/play/achievements']">
          Achievements
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('collectibles')">
        <a class="nav-link" [routerLink]="['/play/collectibles']">
          Collectibles
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('statistics')">
        <a class="nav-link" [routerLink]="['/play/statistics']">
          Statistics
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('chat')">
        <a class="nav-link" [routerLink]="['/play/chat']">
          Chat <span *ngIf="unreadMessages > 0" class="label label-default">{{ unreadMessages }}</span>
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('settings')">
        <a class="nav-link" [routerLink]="['/play/settings']">
          Settings
        </a>
      </li>

    </ul>
  </div>
</nav>