<div class="container-fluid combat-container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-md-center">
      <h3>{{ battle.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-md-center text-muted">
      <small>{{ battle.happenedAt | date:'medium' }}</small>
    </div>
  </div>

  <div class="row m-t-1">
    <div class="col-md-2"></div>
    <div class="col-md-4" *ngFor="let party of battle.initialParties">
      <h5>{{ party.name }}</h5>
      <ul>
        <li *ngFor="let member of party.players">
          {{ member.name }}, level {{ member.level }} {{ member.profession }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngFor="let message of battle.messageData">

    <div class="col-md-offset-2 col-md-8" *ngIf="!message.data" [innerHTML]="message.message | highlightPipe:playerName"></div>

    <div class="col-md-12" *ngIf="message.data">
      <hr>
      <div *ngFor="let party of message.data" class="row">
        <em class="col-md-2">{{ party.name }}</em>
        <span class="col-md-10">
          <ul>
            <li *ngFor="let member of party.players">
              <strong>{{ member.name }}</strong>
              <span>[HP {{member.hp.__current}}/{{member.hp.maximum}}]</span>
              <span>[MP {{member.mp.__current}}/{{member.mp.maximum}}]</span>
              <span *ngIf="member.special.name">[{{member.special.name}} {{member.special.__current}}/{{member.special.maximum}}]</span>
            </li>
          </ul>
        </span>
      </div>
      <hr>
    </div>

  </div>
</div>